<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infermed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">Infermed<span class="dot">.ai</span></div>
    <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Upload</a></li>
        <li><a href="#">Results</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>

<div class="main-container">
  
  <form id="uploadForm" action="/submit" method="post" enctype="multipart/form-data">
      <div class="form-row">
          <div class="form-column">
              <label for="textInput">Report</label>
              <textarea id="textInput" name="text" required placeholder="Enter report ..."></textarea>
          </div>

          <div class="form-column">
              <label for="imageInput">Upload X-ray:</label>
              <div class="image-upload-box">
                  <input type="file" id="imageInput" name="image" accept="image/*" required>
              </div>
          </div>
      </div>

      <button type="submit" class="full-width-btn">Submit</button>
  </form>
</div>

</body>
</html>
